/* .product-image {
  background: red;
  padding: 10px;
}

.product-title {
  font-size: 20px;
  width: 100px;
  height: 50px;
  padding: 20px;
  background-color: grey;
}

.product-title {
  background-color: peru;
} */
